<a href="https://colab.research.google.com/github/emerson-jose/explorando_base_de_dados_/blob/main/analise_populacional_municipios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise Populacional dos Municípios Brasileiros

In [4]:
import pandas as pd

# Carregar os dados
url = 'https://raw.githubusercontent.com/alexvaroz/data_science_alem_do_basico/master/POP2021_20221212.csv'
df = pd.read_csv(url)

# Padronizar os nomes das colunas
df.columns = df.columns.str.strip().str.upper().str.replace(" ", "")

# Verificar nomes das colunas
print(df.columns)
df.head()

Index(['UF', 'COD_UF', 'COD_MUN', 'NOME_MUNICIPIO', 'POPULACAO_ESTIMADA'], dtype='object')

   UF  COD_UF  COD_MUN         NOME_MUNICIPIO  POPULACAO_ESTIMADA
0  RO      11       15  Alta Floresta D'Oeste               22516
1  RO      11       23              Ariquemes              111148
2  RO      11       31                 Cabixi                5067
3  RO      11       49                 Cacoal               86416
4  RO      11       56             Cerejeiras               16088

## 1) Quantos municípios possuem população maior que a média do país?

In [5]:
# Carregar os dados (código movido da célula 3JW0NFn_3z8H)
url = 'https://raw.githubusercontent.com/alexvaroz/data_science_alem_do_basico/master/POP2021_20221212.csv'
df = pd.read_csv(url)

# Padronizar os nomes das colunas (código movido da célula 3JW0NFn_3z8H)
df.columns = df.columns.str.strip().str.upper().str.replace(" ", "")

media_populacao = df['POPULACAO_ESTIMADA'].mean()
municipios_acima_media = df[df['POPULACAO_ESTIMADA'] > media_populacao]
print(f"Municípios com população acima da média: {len(municipios_acima_media)}")

Municípios com população acima da média: 898

## 2) Quais os 5 Municípios menos populosos?

In [9]:
df.sort_values('POPULACAO_ESTIMADA').head(5)[['NOME_MUNICIPIO', 'UF', 'POPULACAO_ESTIMADA']]

        NOME_MUNICIPIO  UF  POPULACAO_ESTIMADA
3026  Serra da Saudade  MG                 771
3348              Borá  SP                 839
5192        Araguainha  MT                 909
4749     Engenho Velho  RS                 932
5077    União da Serra  RS                1084

## 3) Quais os 10 Municípios mais populosos?

In [10]:
df.sort_values('POPULACAO_ESTIMADA', ascending=False).head(10)[['NOME_MUNICIPIO', 'UF', 'POPULACAO_ESTIMADA']]

      NOME_MUNICIPIO  UF  POPULACAO_ESTIMADA
3829       São Paulo  SP            12396372
3242  Rio de Janeiro  RJ             6775561
5569        Brasília  DF             3094325
2162        Salvador  BA             2900319
949        Fortaleza  CE             2703391
2309  Belo Horizonte  MG             2530701
111           Manaus  AM             2255903
4005        Curitiba  PR             1963726
1596          Recife  PE             1661017
5417         Goiânia  GO             1555626

## 4) Qual a média da população por estado?

In [11]:
df.groupby('UF')['POPULACAO_ESTIMADA'].mean().sort_values(ascending=False)

UF
DF    3.094325e+06
RJ    1.898190e+05
SP    7.232424e+04
AM    6.377934e+04
PA    6.095225e+04
AP    5.485081e+04
ES    5.267318e+04
PE    5.229618e+04
CE    5.022054e+04
RR    4.351420e+04
AC    4.122164e+04
MS    3.593909e+04
BA    3.593593e+04
RO    3.490919e+04
AL    3.299364e+04
MA    3.296434e+04
SE    3.117965e+04
GO    2.929508e+04
PR    2.906638e+04
MT    2.529953e+04
MG    2.510190e+04
SC    2.487618e+04
RS    2.307169e+04
RN    2.132277e+04
PB    1.820585e+04
PI    1.468433e+04
TO    1.156376e+04
Name: POPULACAO_ESTIMADA, dtype: float64

## 5) Qual a média da população por região?

In [14]:
df.groupby('NOME_MUNICIPIO')['POPULACAO_ESTIMADA'].mean().sort_values(ascending=False)

NOME_MUNICIPIO
São Paulo           12396372.0
Rio de Janeiro       6775561.0
Brasília             3094325.0
Salvador             2900319.0
Fortaleza            2703391.0
                       ...
União da Serra          1084.0
Engenho Velho            932.0
Araguainha               909.0
Borá                     839.0
Serra da Saudade         771.0
Name: POPULACAO_ESTIMADA, Length: 5297, dtype: float64

## 6) Quantos municípios existem em cada estado?

In [15]:
df['UF'].value_counts().sort_values(ascending=False)

UF
MG    853
SP    645
RS    497
BA    417
PR    399
SC    295
GO    246
PI    224
PB    223
MA    217
PE    185
CE    184
RN    167
PA    144
MT    141
TO    139
AL    102
RJ     92
MS     79
ES     78
SE     75
AM     62
RO     52
AC     22
AP     16
RR     15
DF      1
Name: count, dtype: int64

## 7) Quantidade de municípios por região

In [17]:
df['NOME_MUNICIPIO'].value_counts().sort_values(ascending=False)

NOME_MUNICIPIO
Bom Jesus             5
São Domingos          5
São Francisco         4
Santa Helena          4
Santa Inês            4
                     ..
Petrolina de Goiás    1
Quirinópolis          1
Rialma                1
Rianápolis            1
Planaltina            1
Name: count, Length: 5297, dtype: int64

## 8) Quais estados possuem "São Domingos" como município?

In [19]:
df[df['NOME_MUNICIPIO'].str.upper() == 'SÃO DOMINGOS']['UF'].unique()

array(['PB', 'SE', 'BA', 'SC', 'GO'], dtype=object)

## 9) Quais são os 10 nomes de município mais comuns?

In [20]:
df['NOME_MUNICIPIO'].value_counts().head(10)

NOME_MUNICIPIO
São Domingos       5
Bom Jesus          5
Santa Terezinha    4
Vera Cruz          4
Santa Luzia        4
Planalto           4
Santa Inês         4
Santa Helena       4
São Francisco      4
Bonito             4
Name: count, dtype: int64

## 10) Diferença entre a maior e menor população de município por UF

In [21]:
df.groupby('UF')['POPULACAO_ESTIMADA'].agg(lambda x: x.max() - x.min()).sort_values(ascending=False)

UF
SP    12395533
RJ     6769915
BA     2897933
CE     2698607
MG     2529930
AM     2254555
PR     1962417
PE     1657877
GO     1554455
PA     1503181
RS     1491598
MA     1111598
AL     1028694
MS      912935
RN      894977
PI      869887
PB      824049
SE      670228
MT      622705
SC      603497
RO      546825
ES      532529
AP      516987
RR      428359
AC      412559
TO      312225
DF           0
Name: POPULACAO_ESTIMADA, dtype: int64